# Julia
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
*.jl.*.mem

# Manifest file (can be regenerated)
Manifest.toml

# System Files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~

# Project specific
/projects